html,
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

body {
  font-family: "Roboto", sans-serif !important;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #ff9d72;
  color: #654062;
  margin: auto;
  padding: 0 1rem;
}

/* .container {
  width: 80% !important;
  margin: 0 auto !important;
} */

header a {
  cursor: pointer;
  text-decoration: none;
  color: #654062;
  margin: 1rem;
  font-size: 1.3rem;
}

header .logo {
  font-family: "Yellowtail", cursive !important;
}

.open {
  cursor: pointer;
  margin: 1rem;
}

#nav {
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: #ffd66b;
  width: 66%;
  transition: all 0.3s;
  opacity: 0;
}

.open-nav {
  visibility: unset !important;
  opacity: 1 !important;
  transform: translateX(0%);
}

.exit {
  width: 2em;
  float: right;
  margin: 1em;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 4em;
}

li {
  display: block;
  padding: 1em;
  cursor: pointer;
}

.active {
  background-color: #ffd66b;
}

li:hover {
  background-color: #ffba0b;
}

/*Main Section*/

main {
  flex-direction: row;
  flex: auto;
  margin-top: 80px;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}

.hero-section {
  padding-top: 3rem;
}

h1 {
  font-size: 2rem;
  justify-content: center;
}

h2 {
  font-size: 1.5rem;
}

#hand {
  margin-left: 0.5rem;
  width: 2rem;
  height: auto;
}

.hero-section h2 {
  color: #ff9d72;
}
.hero-section p {
  line-height: 2rem;
}

.main-p {
  margin-bottom: 3rem;
}

.main-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

img {
  width: 100%;
  height: auto;
}

.p1 {
  width: 100%;
  height: auto;
  margin: 2rem;
}

.p1-1 {
  background-color: #ff9d72;
  padding: 1rem;
}

.p1-2 {
  background-color: #654062;
  padding: 1rem;
}

.p1-3 {
  background-color: #ffba0b;
  padding: 1rem;
}

.p1-4 {
  background-color: #0baeff;
  padding: 1rem;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

@media (min-width: 768px) {
  .p1 {
    width: 33%;
    height: auto;
    margin: 2rem;
  }
}

@media (min-width: 1024px) {
  header {
    height: 80px;
    justify-content: space-around;
  }

  .logo {
    margin: auto 2rem;
  }

  #nav {
    visibility: unset;
    position: relative;
    display: flex;
    background: none;
    justify-content: space-around;

    line-height: 80px;
    opacity: 1;
  }

  .open {
    visibility: hidden;
  }

  .exit {
    visibility: hidden;
  }

  ul {
    list-style-type: none;

    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
  }

  li {
    color: red;
    padding: 0 2rem;
  }

  li:hover {
    background-color: #ffd66b;
  }
}
